/* Register box styles start */
@use '../abstracts/colors' as c;

.side-register-box {
    margin-top: 40px;
    img {
        &.shadow-image {
            box-shadow: 0px 20px 9px 1px c.$light-grey;
        }
    }
    .side-register-box-content {
        box-shadow: 0px 0px 9px 1px c.$light-grey;
        background-color: c.$brand-secondary;
        color: c.$white;
        margin-bottom: 30px;
        p {
            padding: 20px 5px;
            font-size: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            a {
                text-decoration: none;
                color: c.$white;
                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }
            }
        }
    }
}
/* Register box styles end */
