// Brand Colors
$brand-primary: #306f84;
$brand-secondary: #7b4b99;
// Generic Colors
$white: #ffffff;
$light-grey: whitesmoke;
$grey: grey;
$dark-grey: #424242;
$black: black;
$red: red;
$green: green;
$pink: #e2147e;
// Bootstrap Colors
$bootstrap-blue: #0275d8;
$bootstrap-light-blue: #5bc0de;
$bootstrap-green: #5cb85c;
$bootstrap-orange: #f0ad4e;
$bootstrap-red: #d9534f;
$bootstrap-grey: #dddddd;
$bootstrap-black: #292b2c;
