/* Shortlist styles start */
@use '../abstracts/colors' as c;

.property-shortlist {
    position: relative;
    overflow: auto;
    margin: 50px 0px 0px 0px;
    .corner-flash {
        left: 15px;
    }
    h2 {
        color: c.$brand-primary;
        font-weight: 700;
        font-size: 1.4em;
        margin-bottom: 0px;
        a {
            color: c.$brand-primary;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus {
                color: c.$brand-primary;
            }
        }
    }
    h3 {
        font-size: 1.2em;
        font-weight: 400;
        color: c.$grey;
        margin: 0 0 15px 0;
        text-transform: uppercase;
    }
    p {
        &.shortlist-link {
            padding-top: 20px;
            padding-bottom: 20px;
            a {
                color: lighten(c.$black, 15%);
                text-decoration: none;
                .remove {
                    color: c.$brand-primary;
                }
                &:hover,
                &:active,
                &:focus {
                    color: c.$brand-primary;
                }
            }
        }
    }
    .room-icons {
        span {
            font-size: 1em;
            padding-left: 5px;
            padding-right: 5px;
            .icon-bedrooms {
                height: 30px;
                fill: c.$grey;
                vertical-align: middle;
            }
            .icon-bathrooms {
                height: 26px;
                fill: c.$grey;
                vertical-align: middle;
            }
            .icon-receptions {
                height: 30px;
                fill: c.$grey;
                vertical-align: middle;
            }
            strong {
                color: c.$brand-primary;
            }
        }
    }
    .shortlist-link {
        a {
            span {
                svg {
                    width: 25px;
                    fill: c.$brand-primary;
                    vertical-align: sub;
                }
            }
        }
    }
    .line {
        margin: 0px;
        border-top: 1px solid lighten(c.$grey, 40%);
    }
    .book-btn {
        cursor: pointer;
    }
    .left-button .btn,
    .right-button .btn {
        font-weight: 700;
        padding: 0px 10px;
        letter-spacing: 0.1em;
        font-size: 0.8em;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .thumbs-tel {
        p {
            padding-top: 18px;
            svg {
                fill: c.$brand-primary;
                width: 25px;
                vertical-align: bottom;
                margin-left: 0.5rem;
            }
            a {
                text-decoration: none;
                color: lighten(c.$black, 15%);
            }
        }
    }
}
.shortlist-intro {
    margin: 30px 0px 0px 0px;
}
.add-to-shortlist .remove,
.remove-from-shortlist .add {
    display: none;
}
/* Shortlist styles end */
